body {
    display: flex;
    min-height: 100vh;
    background-color: #121212;
    color: white;
}

.sidebar {
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: #1e1e1e;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar a {
    display: block;
    color: #bbb;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 5px;
}

.content-wrapper {
    margin-left: 270px;
    flex-grow: 1;
    padding: 20px;
}

.sidebar a.active, .sidebar a:hover {
    background: #333;
    color: #fff;
}

.button-content {
    width 100%;
    background: #1e1e1e;
    padding: 20px;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.content {
    flex-grow: 1;
    padding-top: 20px;
}

.buttonnn {
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn-out {
    position: right;
    margin-left: 65%;
}

.sidebar::-webkit-scrollbar, body::-webkit-scrollbar{
  width: 10px;
}

.sidebar::-webkit-scrollbar-track, body::-webkit-scrollbar {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #1e1e1e;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb, body::-webkit-scrollbar {
  border-radius: 10px;
  background: linear-gradient(180deg, #2a2a2a, #000000);
}

.card {
    background: #1e1e1e;
}