{% extends 'admin_panel/dashboard.html' %}

{% load static %}

{% block title %}Редактировать {{ model_name }}{% endblock %}

{% block link %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
{% endblock %}

{% block content %}
    <div class="card shadow-sm text-white ">
        <div class="card-body">
            <h1 class="h4 mb-4">{{ model_name }}</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-light">Сохранить</button>
                    <a href="{% url 'model_list_view' model_name=model_name %}" class="btn btn-outline-secondary">Вернуться</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
    <script>
        flatpickr("#date", {
            dateFormat: "Y-m-d", // Формат даты
            locale: "ru", // Локализация
            defaultDate: "{{ selected_date|date:'Y-m-d' }}"
        });
    </script>
{% endblock %}